.cell{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75px;
    height: 75px;
    border: 2px solid;
    box-shadow: 0 0 0 2px;
    line-height: 75px;
    font-size: 50px;
    cursor: pointer;
}
.cell:hover,
.cell.hovered-cell {
    background-color: lightblue; /* Change this to the desired hover color */
}
#gameContainer{
    font-family: 'Roboto', sans-serif;
    font-weight: 1000;
    text-align: center;
}
#gameBoard{
    display: grid;
    grid-template-columns: repeat(7, auto);
    width: 550px;
    margin:auto;
}
.circle {
    width: 65px; /* Adjust the size of the circle */
    height: 65px; /* Adjust the size of the circle */
    border-radius: 50%; /* Make it a circle */
    margin: auto; /* Center the circle in the cell */
}

.player-X {
    background-color: red; /* Change this to the desired color for "X" */
}

.player-O {
    background-color: rgb(0, 132, 255); /* Change this to the desired color for "O" */
}