.cell{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75px;
    height: 75px;
    border: 2px solid rgb(16, 16, 193);
    box-shadow: 0 0 0 2px rgb(16, 16, 193);
    line-height: 75px;
    font-size: 50px;
    cursor: pointer;
    background-color: rgb(16, 16, 193);
}
.cell:hover,
.cell.hovered-cell {
}
#gameContainer{
    font-family: 'Roboto', sans-serif;
    font-weight: 1000;
    text-align: center;
}
#gameBoard{
    display: grid;
    grid-template-columns: repeat(7, auto);
    width: 550px;
    margin:auto;
}
.circle {
    width: 65px; /* Adjust the size of the circle */
    height: 65px; /* Adjust the size of the circle */
    border-radius: 50%; /* Make it a circle */
    margin: auto; /* Center the circle in the cell */
}

.player-X {
    background-color: red; /* Change this to the desired color for "X" */
}

.player-O {
    background-color: yellow; /* Change this to the desired color for "O" */
}
.player-default {
    background-color: white;
    box-shadow: 0 0 10px 5px darkblue;
}